.rangeList{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;	
	margin-bottom: 30px;
}

.default{	
	background-color: transparent;
	color:grey;
	border:none;
	outline: none;
	margin: 25px 0;
}

.default:hover{
	cursor: pointer;
	color:rgba(255, 67, 95, 0.93);
}