@media  screen and (min-width: 1171px){
	.main{
		grid-template-columns: 300px 5fr;
	}

	.aside{
		padding:0 40px;
	}

	.Img{
		max-width: 74%;
	}

	input[type=range] {
		-webkit-appearance: none;
		width:225px;
	 }

	.Input{
		width: 85%;
	}

	.Button {
		width:calc(14% + 4px);
	 }
	 
	.Button:after {
		content:attr(alt);
			width:95%;
	}


}

@media  screen and (min-width: 749px) and (max-width: 1170px){
	.main{
	  grid-template-columns: 250px 6fr;
	}

	.InputWrapper{
		width: 90%;
	}

	.aside{
		padding:0 20px;
	}

	.Img{
		max-width: 90%;
	}

	input[type=range] {
		-webkit-appearance: none;
		width:200px;
	 }

	.Input{
		width: 80%;
	}

	.Button{
		width: calc(19% + 5px);
	}

	.Button:after {
		content:attr(alt);
		width:95%;
	}
}

 @media  screen and (max-width: 768px){
	.main{
	  grid-template-columns: 1fr 7fr;
	}

	.InputWrapper{
		width: 95%;
	}

	.aside{
		padding:0 20px;
	}

	input[type=range] {
		-webkit-appearance: none;
		width:175px;
	 }

	.Img{
		max-width: 95%;	
	}

	.Input{
		width: 80%;
	}

	.Button{
		width: calc(19% + 5px);
	}

	.Button:after {
		content:'Use URL';
		width:95%;
}

 }
 @media  screen and (max-width: 600px){
	.main{
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 450px;
	}

	.Img{
		max-width: 100%;	
		
	}	

	.imgMain{
		max-height: 100%;
	}
	
	input[type=range] {
		-webkit-appearance: none;
		width:300px;
	 }

	 .InputWrapper{
		 width: 100%;
	 }

	 .Input{
		 width: 80%;
	 }
	 

	.aside{
		order: 1;
		border:none;
		position: relative;
	}

	.imageContainer{
		order: 0;
	}

	.Button{
		width: calc(19% + 5px);
	}

	.Button:after {
		content:'Use URL';
		width:95%;
}
	.InputWrapper{
		margin-top: 15px;
	} 

	.rangeWrapper{
		margin-bottom: 15px;
	}

	.rangeWrapper h3{
		font-size: 16px;
	}

 .filterList{
	 margin-top: 80px;
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 grid-template-rows: 1fr 1fr 1fr;
	 grid-gap: 20px;
 }


 .filterList .default{
	 position: absolute;
	 top: 67px;
	 left:44%;
 }
 
 #loader{
	 width: 100px;
	 height: 100px;
	 margin: -25px 0 0 -50px;
 }

}